

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
  text-align: center;
	min-height: 4em;
	background-color: #BFB47E;
	margin-bottom: 2em;

}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #274001;
	color: white;
	padding-top: 3em;
	margin: auto;
	max-width: 80%;
}

.label {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: larger;
	font-weight: 1200;
	font: 800;
}

.explore {
	margin: vw;
	padding: .5vw;
}

.city {
	margin: 3vw;
	padding: .5vw;
}

.text {
	display: flex;
	gap: 2vw;
}

div {
	gap: 2vw;
}


